@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Righteous&family=Sarala&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;  
}

body
{
    background-color: #d2dee7;
}

header
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    height: 90px;
    box-shadow: 0px 2px 2px #03c8a8;
}

.container1
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.comida
{
    margin-left: 7px;
    font-family: 'Merriweather', serif;
    font-size: 18px;
}

.inputs
{
    display: flex;
    justify-content: center;
    margin-left: 5px;
    height: 30px;
    width: 540px;
    border-radius: 5px;
    margin-bottom: 25px;
    padding-left: 5px;
}

.selecao
{
    display: flex;
    justify-content: center;
    margin-left: 5px;
    height: 30px;
    width: 540px;
    border: 3px;
    border-radius: 5px;
    margin-bottom: 25px;
    padding-left: 5px;
}

.button-adicionar
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#tabela
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.dias-semana
{
    padding-right: 60px;
    font-family: 'Merriweather', serif;
    font-size: 18px;
}

.tr
{
    width: 100%;
}

.edit
{
    color: black;
    margin-left: 50px;
    margin-top: -25px;
    border: solid 3px #03c8a8;
    border-radius: 100px;
    width:30px;
    height:30px;
    background-color:#03c8a8;
}

.delete
{
    border: solid 3px red;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    background-color: red;
    margin-left: 90px;
    margin-top: -30px;
}

#button-imc
{
    margin-left: 10px;
}

/*********************************************/
/*MODAL*/
/*********************************************/

.no-see
{
    display: none;
}
.see
{
    display: flex;
    
    align-items: center;
    justify-content: center;
}

#modal 
{
    background-color: rgba(0, 0, 0, 0.664);
    width: 100%;
    height: 100%;
    z-index: +10;
    position: absolute;
    overflow-y: hidden;
}
#modal-box
{
    height: 60%;
    width: 30%;
    border-radius: 1.5vw;
    position: relative;

    border: solid 3px rgb(131, 236, 131);
    background-color: #f3f2f2;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#close
{
    font-size: 1.5vw;
    width: 10%;
    height: 10%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -10px;
    margin-right: -15px;
    border-radius: 60%;
}
#close:hover
{
    background-color: rgb(211, 77, 77);    
    border: solid rgb(156, 51, 51);
    transition: 0.3s;
    color: white;
    font-weight: 800;
}

#close:not(:hover)
{
    border: solid rgb(40, 121, 40);
    font-weight: 800;
    color: black;
    transition: 0.3s;
}

#result
{
    text-align: center;
    font-size: 3vw;
}

img
{
    margin-top: 1.5vw;
    height: 15%;
}